<!-- Contact Details -->
<section>
    <header>
        <h2>Connect with us</h2>
    </header>
    <ul class="social">
        <li><a class="icon fa-envelope-o" href="mailto:hello@adikar.in"><span class="label">Email</span></a></li>
        <li><a class="icon fa-facebook" href="https://www.facebook.com/AdiKarBusinessConsultants/"><span class="label">Facebook</span></a></li>
        <li><a class="icon fa-twitter" href="https://twitter.com/AdiKarBiz"><span class="label">Twitter</span></a></li>
        <li><a class="icon fa-linkedin" href="https://www.linkedin.com/company/adikar-business-consultants"><span class="label">LinkedIn</span></a></li>
        <li><a class="icon fa-google-plus" href="https://plus.google.com/u/0/116175043423904689650"><span class="label">Google+</span></a></li>
        <li><a class="icon fa-instagram" href="https://www.instagram.com/adikar.in/"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="contact">
        <li>
            <h3>Address</h3>
            <p>Pune, India</p>
        </li>
        <li>
            <h3>Email</h3>
            <p><b><a href="mailto:hello@adikar.in">hello@adikar.in</a></b></p>
        </li>
        <li>
            <h3>Phone</h3>
            <p><b><a href="tel:+918600234283">+91 8600 234 283</a></b></p>
        </li>
    </ul>
</section>
