<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="4u 12u(mobile)">
                <div class="flex-center-items">
                    <ul class="contact">
                        <li>
                            <h3>Email</h3>
                            <p><b><a href="mailto:hello@adikar.in">hello@adikar.in</a></b></p>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <p><b><a href="tel:+918600234283">+91 8600 234 283</a></b></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="8u 12u(mobile)">
                <div class="flex-center-items">
                    <ul class="social">
                        <li><a class="icon fa-envelope-o" href="mailto:hello@adikar.in"><span class="label">Email</span></a></li>
                        <li><a class="icon fa-facebook" href="https://www.facebook.com/AdiKarBusinessConsultants/" target="_blank"><span class="label">Facebook</span></a></li>
                        <li><a class="icon fa-twitter" href="https://twitter.com/AdiKarBiz" target="_blank"><span class="label">Twitter</span></a></li>
                        <li><a class="icon fa-linkedin" href="https://www.linkedin.com/company/adikar-business-consultants" target="_blank"><span class="label">LinkedIn</span></a></li>
                        <li><a class="icon fa-google-plus" href="https://plus.google.com/u/0/116175043423904689650" target="_blank"><span class="label">Google+</span></a></li>
                        <li><a class="icon fa-instagram" href="https://www.instagram.com/adikar.in/" target="_blank"><span class="label">Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->

            </div>
        </div>
    </section>
</div>
