<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="8u 12u(mobile)">
                <!-- Announcements -->
            </div>
            <div class="4u 12u(mobile)">
                <!-- What's this about -->
            </div>
        </div>
        <div class="row">
            <div class="4u 12u(mobile)">
                <!-- Additional Footer Links -->
            </div>
            <div class="4u 12u(mobile)">
                <!-- Additional Footer Links -->
            </div>
            <div class="4u 12u(mobile)">
                <!-- Contact Details -->
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->

            </div>
        </div>
    </section>
</div>
